# Copyright (c) 2024 José Guilherme Cerqueira de Oliveira <aluno.jose.cerqueira@doctum.edu.br>
# This source code is licensed under the MIT license found in the license file.

# Configurações para EditorConfig.
# EditorConfig ajuda a manter estilos de codificação consistentes para múltiplos desenvolvedores trabalhando no mesmo projeto.
# Veja https://editorconfig.org/#file-format-details para mais detalhes.

# +--------------------+
# + Base Configuration +
# +--------------------+

root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# +-------------------+
# + Python-specific +
# +-------------------+
[*.py]
indent_style = space
indent_size = 4

# +-------------------+
# + Markdown-specific +
# +-------------------+
[*.{md,markdown}]
indent_style = tab
indent_size = 2

